a {
  text-decoration: none;
  color: #3a33d1;
  border-bottom: 1px solid rgba(58, 51, 209, 0.3);
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  font: 16px/1.4 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

}

@media only screen and (min-width: 1280px) {
  body {
    background-image: url('/images/bg-map.svg');
    background-repeat: no-repeat;
    background-position: top center;
  }
}

h1 {
  margin: 0;
  padding: 60px 0 50px;
  font-size: 40px;
  line-height: 1;
}

h2 {
  margin: 0 0 12px;
  padding: 0;
  font-size: 18px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0 0 8px;
}
#app{
  height: 100%;
}

.wrapper {
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

article {
  padding-bottom: 160px;
}

.lang {
  float: right;
  margin: 4px 0;
  padding: 60px 0 50px;

  li {
    display: inline-block;
    margin-right: 8px;
    padding: 4px 16px 4px 8px;

    &:hover {
      background-color: #FDE725;
    }

    &.selected {
      background-color: #FFF599;
      font-weight: 600;

      a {
        cursor: default;
      }
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    }

    a {
      color: #000;
      display: inline-block;
      vertical-align: middle;
      margin-top: 2px;
      border: none;
    }
  }
}

.form {
  margin-bottom: 24px;

  input {
    font-weight: 600;
    font-size: 32px;
    padding: 4px 8px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background-color: #FFF599;

    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: 0;
      background-color: #FDE725;
    }
  }
}

.examples li {
  font-size: 18px;
  margin-top: 0px;
  display: inline-block;
  margin-right: 12px;
}



.map {
  position: relative;
  top: -10px;
  left: -30px;
  text-align: center;

  h2 strong {
    background-color: #FFF599;
    border-bottom: 1px solid #000;
    white-space: nowrap;
  }
}

.info {
  padding: 0 24px 48px;

  li {
    width: 31%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-bottom: 8px;
  }
}

.help {
  margin: 8px 0 48px;

  dl {
    margin: 0;
    padding: 0;
  }

  dt {
    display: inline-block;
    width: 25%;
    margin: 0 0 8px;
    padding: 0;
    vertical-align: top;
    text-align: left;
  }

  dt strong {
    background-color: #FFF599;
    border-bottom: 1px solid #000;
  }

  dd {
    display: inline-block;
    width: 70%;
    margin: 0 0 8px;
    padding: 0;
    vertical-align: top;
  }
}

footer {
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
  //width: 100%;

  h3 {
    font-size: 14px;
  }

  ul {
    margin: 8px 0 24px;
    font-size: 14px;
  }

  p {
    font-size: 14px;
    margin: 0 0 8px;
  }
}

.likes {
  padding-bottom: 30px;
  button {
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    margin: 0 8px 4px 0;
    font-size: 14px;
    padding: 3px 6px 3px 5px;

    transition: background-color 0.2s ease-in;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
      transition: background-color 0.05s ease-in;
    }

    &:focus {
      outline: none;
    }
  }

  svg {
    fill: #fff;
    vertical-align: middle;
    margin-right: 4px;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

#bg {
  position: absolute;
  z-index: -10;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bg-map {
  margin: 0 auto;
  display: block;

  path {
    fill: none;
    stroke: rgba(0, 0, 0, 0.05);
  }
}
