.wrapper {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.lang {
  float: right;
  margin: 8px 0;
  padding: 60px 0;

  li {
    display: inline-block;
    margin-right: 8px;
    padding: 4px 16px 4px 8px;

    &:hover {
      background-color: #FDE725;
    }

    &.selected {
      background-color: #FFF599;

      &:hover {
        background-color: #FFF599;
      }

      a {
        cursor: default;
      }
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    }

    a {
      color: #000;
      display: inline-block;
      vertical-align: middle;
      margin-top: 2px;
      border: none;
    }
  }
}

.form {
  margin-bottom: 24px;

  input {
    font-weight: 600;
    font-size: 32px;
    padding: 4px 8px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background-color: #FFF599;

    &::placeholder {
      color: rgba(0, 0, 0, 0.2)
    }

    &:focus {
      outline: 0;
      background-color: #FDE725;
    }
  }
}

.examples li {
  font-size: 18px;
  margin-top: 0px;
  display: inline-block;
  margin-right: 8px;
}



.map {
  position: relative;
  margin-top: 40px;
  //left: -50px;

  svg {

  }

  h2 strong {
    background-color: #FFF599;
    border-bottom: 1px solid #000;
    white-space: nowrap;
  }
}

.info {
  padding: 0 24px 48px;

  li {
    width: 31%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-bottom: 8px;
  }

  p {
    margin: 0 0 8px;
  }
}

.help {
  margin: 8px 0 48px;

  p {
    margin: 0 0 8px;
  }

  dl {
    margin: 0;
    padding: 0;
  }

  dt {
    display: inline-block;
    width: 25%;
    margin: 0 0 8px;
    padding: 0;
    vertical-align: top;
    text-align: left;
  }

  dt strong {
    background-color: #FFF599;
    border-bottom: 1px solid #000;
  }

  dd {
    display: inline-block;
    width: 70%;
    margin: 0 0 8px;
    padding: 0;
    vertical-align: top;
  }
}

footer ul {
  margin: 8px 0 24px;
}

a {
  text-decoration: none;
  color: #3a33d1;
  border-bottom: 1px solid rgba(58, 51, 209, 0.3);
  cursor: pointer;
}

body {
  font: 16px/1.4 'Roboto', sans-serif;
}

header {

}

h1 {
  margin: 0;
  padding: 60px 0;
  font-size: 40px;
}

h2 {
  margin: 0 0 12px;
  padding: 0;
  font-size: 18px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
