.map path:hover {
  stroke-width: 1px;
  stroke: #000;
  cursor: pointer;
}

.map svg {
  //background-color: #000;
  margin: 0 auto;
}

.map .info {
  width: 515px;
  margin: 0 auto;
  text-align: left;
}

.map .active path{
  fill: none;
  stroke-width: 2px;
  stroke: #FF00AC
}

.map .active line {
  stroke-width: 2px;
  stroke: #FF00AC;
  shape-rendering: crispEdges;
}


